body{
    background-image: linear-gradient(rgba(195, 198, 236, 0.7), #000), url(img/background.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    overflow-y: hidden;
}
.translucent-form-overlay {
    margin: 200px 250px 250px 200px;
    padding: 20px;
    color: #fefefe;
    text-align: center;
    background-color: rgba(54, 54, 54, 0.8);
  }
  
  .translucent-form-overlay .columns.row {
    display: block;
  }
  
  .translucent-form-overlay h3, .translucent-form-overlay label {
    color: #fefefe;
    text-align: center;
  }
  
  .translucent-form-overlay input, .translucent-form-overlay select {
    color: #8a8a8a;
  }
  
  .translucent-form-overlay input::-webkit-input-placeholder {
    color: #8a8a8a;
    text-align: center;
  }
  
  .translucent-form-overlay input:-ms-input-placeholder {
    color: #8a8a8a;
 
  }
  
  .translucent-form-overlay input::placeholder {
    color: #8a8a8a;
   
  }
  

  