.btn-row{
  padding: 5px 0;
  text-align:center;
  margin: 0 50px;
}

.button1{
  display: inline-block;
  padding: 10px 10px;
  margin: 15px 10px;
  border: 2px solid rgba(85, 205, 212);
  background-color: rgba(82, 174, 179);
  color: #fff;
  text-decoration: none;
  border-radius: 100px;
  width:200px;
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
}
.button1:hover{
  background-color: rgba(85, 205, 212);
  border: 2px solid rgba(85, 205, 212);
}
.button2{
  display: inline-block;
  padding: 10px 10px;
  margin: 15px 10px;
  border: 2px solid rgba(133, 26, 20);
  background-color: rgba(82, 174, 179);
  color: #fff;
  text-decoration: none;
  border-radius: 10px;
  width:200px;
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
}
.button2:hover{
  background-color: rgba(133, 26, 20);
}
.button3{
  display: inline-block;
  padding: 10px 10px;
  margin: 15px 10px;
  border: 2px solid rgba(133, 26, 20);
  background-color: rgb(85, 59, 58);
  color: #fff;
  text-decoration: none;
  border-radius: 100px;
  width:200px;
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
}
.button3:hover{
  background-color: rgba(133, 26, 20);
}
.table{
  margin: 0 auto;
  background-color: rgba(65, 45, 44, 0.493);
  border-top: 2px solid rgba(133, 26, 20);
  border-left: 2px solid rgba(133, 26, 20);
}

.tb-col{
  border-bottom: 2px solid rgba(133, 26, 20);
  border-right: 2px solid rgba(133, 26, 20);
  width: 200px;
  height: 70px;
  background-color: rgba(189, 133, 130);
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Lato', sans-serif;
}
.tb-data{
  border-bottom: 2px solid rgba(133, 26, 20);
  border-right: 2px solid rgba(133, 26, 20);
  font-family: 'Lato', sans-serif;
  width: 200px;
  height: 70px;
  color: #fff;
  text-align: center;
}
.button-update{
    border: 2px solid rgba(82, 174, 179);
    padding:10px;
    margin: 0 auto;
    border-radius: 10px;
    text-decoration: none;
    background-color:rgba(85, 205, 212);
    color: #fff;
  }

.button-update:hover{
  background-color:  rgba(82, 174, 179);
}
  .button-delete{
    border: 2px solid rgba(133, 26, 20);
    padding:10px;
    margin: 0 auto;
    border-radius: 10px;
    text-decoration: none;
    color: #fff;
    background-color: rgba(189, 133, 130);
  }
  .button-delete:hover{
    background-color: rgba(133, 26, 20);
  }